# ignore installed dependencies
package-lock.json
node_modules/
# ignore tslint rules
tslint.json
# ignore .env file (where API credentials will be stored)
.env
# ignore typescript build directory
dist/